/*形象片*/
.iframe-div{
    position: relative;
    padding-bottom: 56.25%;
    top: 0;
    height: 30px;
/* overflow: hidden;*/
}

.iframe-div iframe, .iframe-div object, .iframe-div embed {
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

.st-title{
    text-align: center;
    padding: 20px;
}
.p-st{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.p-img{
    padding-left: 10px;
    padding-right: 10px;
}
.st-in{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

@media (max-width: 480px) {
    .from-p{
        font-size: medium;
    }
    .text-form{
        height: auto;
        width: auto;
    }
}
@media (min-width: 992px){
    .mobile-p{
        display: none;
    }
}
@media (max-width: 992px){
    .mobile-p{
        display: block;
    }
    .pc-p{
        display: none;
    }
}