body{ 
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #D9D9D9;
}

.header-fixed{
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px; 
    clear: both;
    background-color: #D9D9D9 ;
    z-index: 2;
}
.logo{
    display: block;
    height: 80px;;
    width: 150px;
    margin: auto;
}
.menu{
    height: 50px;
    width: auto;
    background-color: #FFFBFB;
    display: flex;
    justify-content: center; /* 水平置中 */
}
#m-a{
    color: #6E7783;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;/* 垂直置中 */
    text-decoration: none;/*id權重為100，加上之後可以覆蓋boostrap預設的Css*/
}
.m-ul{
    position: relative;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    /*padding: 0px; */
}
.m-ul a{
    padding: 13px 20px;
    transition: 0.5s;
}
.m-ul a:hover{
    background-color: #76c5cb;
}

.clear{
    height: 10px;
    width: auto;
    
}
#clear{
    clear: both;
}


/*內文*/
.content{
    display: flex;
    justify-content: center;
}
.left-div{
	/*float:left;*/
    height: auto;
	width: 300px;
    display: flex;
    justify-content: center;
    margin:0px auto;
}
.w3-lobster {
    font-family: "Lobster", serif;
    display: flex;
    justify-content: center;
}

/*幻燈片*/
/*.slideshow{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}
#a{
    width: 800px;
    height: 400px;
}
.left{
    position: absolute;
    top: 40%;
    left: 24%;
    z-index: 1;
    
}
.right{
    position: absolute;
    top: 40%;
    right: 24%;
    z-index: 1;
}
.bt{

    z-index: 1;
}*/




/*Footer*/
/*footer{
    
}*/
/*.counter{
    float: left;
}*/
#mail{
    position: relative;
    display: flex;
    justify-content: center;
    
    height: auto;
    width: auto;
    background-color: #FFFBFB;
    font-size: 26px;
    font-family: 'Abril Fatface', serif;
}
#mail p{
    padding: -10px;
}

#div1{
    /*height: 10px;*/
    position: relative;
    display: flex;
    justify-content: center;

    /*background-color: #FFFBFB;*/
}
#div2{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;

    background-color: #FFFBFB;
}
#yt-icon,#ig-icon,#fb-icon{
    padding-left: 10px;
    padding-right: 10px;
}
#social-icon-a{
    display: flex;
    justify-content: center;
}
    
#service-hours{
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;

    background-color: #FFFBFB;
}

/*以下是BOBO*/
.container{
    margin:0 auto;
    width: 1000px;
    max-width: 100%;
}
.h1{
    background-color: bisque;
    text-align: center;
    padding: 0;
    margin: 0 a;
}
.h2{
    text-align: center;
}
.stencil-img{
    width: 800px;
    height: 300px;
    
    
    width:100%;
    height:auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*1022添加，放大過頭會隱藏*/
    overflow:hidden;
}

/*1022添加，游標移過去圖片放大所需的時間和特效*/
.stencil-img img{transform:scale(1,1);transition: all 1s ease-out;}
/*1022添加，游標移過去圖會放大，好像是倍率?*/
.stencil-img img:hover{transform:scale(1.2,1.2);}
/*1022目前問題，螢幕縮小，圖片縮放超越框框*/

.h4{
    background-color: bisque;
    text-align: center;

}
.h5{
    text-align: center;
}
.h6{
    width: 800px;
    height: 300px;
    margin: 0 auto;/*無效*/

    width:100%;
    height:auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap

}

/*以下是學姊*/
section {
  padding: 0px 0px;
  text-decoration: none;
}

section#section_about img {
  width: 350px;
}
section#section_about .img_wrap {
  height: 350px;
  overflow: hidden;
}
#section_h3{
    display: flex;
    justify-content: center;
}

/*.img_wrap:hover {
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}*/
/*滑鼠移到圖片上會有框框*/

/*于涵*/
#person{
    padding: 10px;
}