/*整體*/
#body{ 
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #F5EBE3;
}
li{
    list-style-type:none;
}

/*Header*/
.header-fixed{
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px; 
    clear: both;
    background-color: #F5EBE3 ;
    z-index: 2;
}

.logo{
    display: block;
    height: 80px;;
    width: 150px;
    margin: auto;
}
#button-m #navbarSupportedContent{
    height: 50px;
    width: auto;
    background-color: #CEC2B9;
}
/*絕對勿動*/
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse{
    display: block !important;
}
}
.menu{
    height: 50px;
    width: auto;
    background-color: #CEC2B9;
    display: block;
    justify-content: center; /* 水平置中 */
}
#m-ul{
    position: relative;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    /*padding: 0px; */
}
/*ul裡的a*/
#m-a{
    color: #000000;
    font-family: "Lobster", serif;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;/* 垂直置中 */
    text-decoration: none;/*id權重為100，加上之後可以覆蓋boostrap預設的Css*/
}

/*幻燈片*/
#carousel-div{
    padding-left: 20px;
    padding-right: 20px;
}
.carousel .carousel-item .slide {
    height: 400px;
}
  
.carousel .carousel-item img {
    min-height: 400px;
    max-height: 500px;
    object-fit: cover;
}

/*內文*/
/*形象片*/
.top-div{
    position: relative;
    padding-bottom: 56.25%;
    top: 0;
    height: 30px;
   /* overflow: hidden;*/
}

.top-div iframe, .top-div object, .top-div embed {
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

/*團隊名*/
#w3-logo{
    height: 50px;
}

.w3-lobster {
    font-family: "Lobster", serif;
    display: flex;
    justify-content: center;
}

/*形象片敘述*/
.p-div{
	/*float:left;*/
    font-family: "Lobster", serif;
    height: auto;
	width: 300px;
    display: flex;
    justify-content: center;
    margin:0px auto;
}

/*Footer*/
/*footer{
    
}*/
/*.counter{
    float: left;
}*/
#mail h4{
    position: relative;
    display: flex;
    justify-content: center;
    
    height: auto;
    width: auto;
    background-color: #917E70;
    font-size: 26px;
    font-family: 'Abril Fatface', serif;
}
#mail h4{
    padding: 10px;
}

#div1 h3{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
#div2{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;

    background-color: #917E70;
}
#yt-icon,#ig-icon,#fb-icon{
    padding-left: 10px;
    padding-right: 10px;
}
#social-icon-a{
    display: flex;
    justify-content: center;
}
    
#service-hours{
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;

    background-color: #917E70;
}